<div > 
    <h1>Grocery Store</h1>
        <br/>
        <br/>
        <div class="row">
        <table class="table col-md-9 col-md-offset-3">
            <tr>
            <th>Product</th>
            <th>Price</th>
            <th class="qty">Qty</th>
            <th>Total</th>
            </tr>
            <tr class="animate-repeat" ng-repeat="item in inventory | filter:searchText | orderBy:'category' ">
            <td>{{ item.product }}</td>
            <td >Rs. {{ item.price }}</td>
            <td><input type="number" ng-model="item.qty" class="qty"></td>
            <td>Rs. {{ item.qty * item.price }}</td>
            <td>
                <button class="btn-primary" ng-click="addItem(item)">Add to Cart</button></td>
            </tr>
        </table>
        </div>
        <div style="padding-left: 50%;">
        <h2>Your Cart:</h2>
        <ul>
            <li class="animate-repeat" ng-repeat="item in cart | orderBy:'category'">
            <span>{{ item.qty + ' x ' + item.product + ' = ' + (getCost(item) | currency) }}</span>
            <button class="btn-danger btn-xs" ng-click="removeItem(item);">Remove Item</button>
            </br>
            </br>
            </li>
        </ul>
        <h3>Total: Rs. {{ getTotal() }}</h3>
        <button class="btn-danger" ng-click="clearCart();">Clear Cart</button>
        </div>
</div>